# Visual Studio 2015 cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt